:root {
  --font-default: #9b9b9b;
  --font-link-default: #4a4a4a;
  --accent: #2b4074;
  --secondary: #ffffff;
  --secondary-functional: #f9f6e5;
  --font-default-descr: #797979;
  --secondary-border: #7ebf84;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--font-default);
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: var(--accent);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 17px 150px 17px 61px; */
  padding: 17px 10% 17px 5%;
}

.intro {
  background-image: url(../images/bg-rect.png), url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.intro__title {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 96px;
  text-transform: uppercase;
  max-width: 513px;
  margin: 0 auto;
  text-align: center;
  padding: 107px 0 17px;
  color: var(--secondary);
}

.intro__text {
  max-width: 886px;
  font-family: "Roboto Condensed", sans-serif;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
  color: var(--secondary);
  padding-bottom: 28px;
  padding-right: 70px;
}

.button {
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background-color: var(--accent);
  color: var(--secondary-functional);
}

.intro__btn {
  margin-bottom: 124px;
}

.intro__btn--hover:hover {
  background-color: var(--secondary-functional);
  color: var(--accent);
}

.intro__inner {
  position: relative;
  text-align: center;
  padding-bottom: 79px;
}

.intro__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}

.intro__nav-prev,
.intro__nav-next {
  display: block;
  height: 70px;
  width: 70px;
  background-color: var(--accent);
  border: none;
}

.intro__nav-prev--hover:hover,
.intro__nav-next--hover:hover {
  background-color: var(--secondary-functional);
}

.intro__nav-prev--hover:hover .intro__nav-img,
.intro__nav-next--hover:hover .intro__nav-img {
  filter: invert(27%);
}

.intro__pagination-circle {
  fill: var(--secondary);
}

.promo {
  background-color: var(--accent);
  color: var(--secondary);
}

.promo__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 57px 148px 57px 150px;
}

.promo__content-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 4px;
}

.promo__btn {
  background-color: var(--secondary-functional);
  color: var(--accent);
}

.promo__btn--hover:hover {
  background-color: var(--accent);
  color: var(--secondary-functional);
  border: 2px solid var(--secondary-functional);
}

.services {
  background-color: var(--secondary);
  color: var(--font-default-descr);
}

.services__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.5%;
  padding-left: 2%;
  padding-right: 0.05%;
}

.services__content {
  padding: 90px 0 134px;
  max-width: 30%;
}

.title {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-transform: capitalize;
}

.services__title {
  color: var(--accent);
  padding-bottom: 64px;
}

.services__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  padding-bottom: 30px;
}

.services__subtitle::after {
  display: block;
  content: url(../images/line.svg);
  padding-top: 30px;
}

.services__text {
  color: var(--font-default-descr);
  padding-top: 34px;
}

.services__items {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  padding-bottom: 15px;
}

.services__item {
  max-width: 200px;
  padding: 78px 0.05% 80px 0.05%;
  border-left: 1px solid var(--secondary-functional);
  border-bottom: 1px solid var(--secondary-functional);
  text-align: center;
  max-height: 255px;
  /* height: 100%; */
}

.services__hidden-content {
  display: none;
}

.services__item--hover:hover {
  outline: 4px solid var(--accent);
  padding: 8px 0.05% 25px 0.05%;
}

.services__item--hover:hover .services__hidden-content {
  display: block;
}

.services__hidden-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding-top: 21px;
  padding-bottom: 18px;
}

.services__hidden-link {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--accent);
}

.projects {
  background-image: linear-gradient(
    180deg,
    #2b4074 0%,
    rgba(43, 64, 116, 0) 100%
  );
}

.projects__title {
  color: var(--secondary);
  padding-top: 80px;
  text-align: center;
}

.projects__title::after {
  display: block;
  content: url(../images/line2.svg);
  text-align: center;
  padding-bottom: 68px;
}

.projects__items {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
  padding-bottom: 130px;
  padding-left: 100px;
  padding-right: 100px;
}

.projects__item-text {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--accent);
  text-align: center;
  padding-top: 23px;
}

.team__inner {
  display: flex;
  justify-content: center;
  gap: 93px;
  padding: 80px 147px 70px 147px;
}

.team__title {
  color: var(--font-link-default);
  padding-bottom: 30px;
}

.team__title::after {
  display: block;
  content: url(../images/line.svg);
  padding-bottom: 39px;
}

.team__img {
  width: 35%;
  height: 100%;
}

.team__text {
  padding-bottom: 39px;
}

.team__btn--hover:hover {
  background-color: var(--secondary-functional);
  color: var(--accent);
  border: 2px solid var(--accent);
}

.news {
  background-color: var(--secondary-functional);
}

.news__title {
  color: var(--font-link-default);
  padding: 52px 0 19px;
  text-align: center;
}

.news__title::after {
  display: block;
  content: url(../images/line.svg);
  padding-bottom: 108px;
}

.news__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 210px 30px 101px 30px 59px 30px 137px 30px;
  max-width: 1171px;
  margin: 0 auto;
  min-height: 890px;
  /* padding-left: 60px;
  padding-right: 60px; */
}

.news__item {
  height: max-content;
  width: min-content;
}

.news__item:first-child {
  grid-row: 1 / 6;
}

.news__item:nth-child(2) {
  grid-row: 1 / 4;
}

.news__item:nth-child(3) {
  grid-row: 1 / 5;
}

.news__item:nth-child(4) {
  grid-row: 1 / 2;
}

.news__item:nth-child(5) {
  grid-row: 7 / 9;
}

.news__item:nth-child(6) {
  grid-row: 5 / 9;
}

.news__item:nth-child(7) {
  grid-row: 6 / 8;
}

.news__item:nth-child(8) {
  grid-row: 3 / 9;
}

.news__item-link {
  position: relative;
}

.news__text {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--font-link-default);
  background-color: var(--secondary);
  padding: 8px 20px 10px 20px;
  position: absolute;
  bottom: 0;
  width: 270px;
}

.news__img {
  border-radius: 4px;
}

.news__item-link--hover:hover {
  outline: 10px solid var(--accent);
  outline-offset: -10px;
}

.news__item-link--hover:hover .news__text {
  background-color: var(--accent);
  color: var(--secondary);
  bottom: 30px;
}

.testimonials {
  text-align: center;
}

.testimonials__pagination-circle {
  fill: var(--accent);
}

.testimonials__img {
  padding-top: 100px;
  padding-bottom: 30px;
}

.testimonials__text {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: var(--font-link-default);
  padding-bottom: 30px;
  max-width: 68%;
  text-align: justify;
  margin: 0 auto;
}

.testimonials__emphasis {
  color: var(--accent);
}

.testimonials__author {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--font-link-default);
  padding-bottom: 80px;
}

.testimonials__pagination {
  padding-bottom: 133px;
}

.footer {
  background-color: var(--accent);
}

.footer__top {
  position: relative;
}

.footer__logo-container {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--accent);
  padding: 0 74px;
  border-radius: 3px;
}

.footer__text {
  padding-top: 158px;
  padding-left: 150px;
  padding-bottom: 80px;
  font-size: 24px;
  line-height: 32px;
  color: var(--secondary);
  max-width: 60%;
}

.footer__social-items {
  list-style-type: none;
  display: flex;
  padding-left: 140px;
  padding-right: 150px;
  padding-bottom: 80px;
}

.footer__social-item {
  box-sizing: border-box;
  width: 25%;
  height: 57px;
  text-align: center;
  padding-top: 25px;
  border-right: 1px solid var(--secondary-border);
  border-top: 1px solid var(--secondary-border);
  border-bottom: 1px solid var(--secondary-border);
}

.footer__social-item:last-child {
  border-right: none;
}

.footer__links {
  display: flex;
  padding-left: 140px;
  padding-right: 150px;
  padding-bottom: 115px;
}

.footer__links-item {
  width: 25%;
}

.footer__links-list {
  list-style: none;
}

.footer__links-title {
  text-transform: uppercase;
  color: var(--secondary-functional);
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 22px;
}

.footer__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: var(--secondary);
}

.tel,
.address,
.mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: var(--secondary);
}

.address {
  width: 130px;
}

.return__link {
  width: 100%;
  text-align: right;
  padding: 7px 10% 11px 0px;
  color: var(--font-link-default);
  text-transform: uppercase;
}

.return__text {
  display: inline;
}
